@import "../theme/variables";

.container {
  display: flex;
}

.content {
  width: 200px;
  height: 200px;
  background-color: teal;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid teal;

  &:first-child {
    cursor: pointer;
    border: none;
  }
}

// .first {
//   background-color: $color-100;
// }

// .second {
//   background-color: $color-200;
// }

.third {
  background-color: $color-300;
}
